body {
  height: 750px;
  font-family: 'Montserrat', sans-serif;
  background-color: #223843;
  background-image: url('../images/ron2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 20px;
}

p {
  font-size: 2vw;
}

p#quote {
  font-style: italic;
}

.wrapper {
  margin: 5% 4%;
  width: 20%;
}
